@import "./colors.scss";

.small-btn {
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #fff;
}

.blue-btn {
  background-color: lighten($blue, 10%);
  &:hover {
    background-color: $blue;
  }
}

.yellow-btn {
  background-color: $light-yellow;
  &:hover {
    background-color: darken($light-yellow, 10%);
  }
}