$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$green: #36af47;

$blue: #337ab7;
$light-blue: lighten($blue, 20%);
$vlight-blue: lighten($blue, 32%);
$vvlight-blue: lighten($blue, 42%);

$black: #000000;
$light-black: lighten($black, 20%);

$grey: #868e96;
$light-grey: lighten($grey, 20%);
$vlight-grey: lighten($grey, 32%);
$vvlight-grey: lighten($grey, 44%);

$yellow: #ff6600;
$light-yellow: lighten($yellow, 20%);
$vlight-yellow: lighten($yellow, 32%);
$vvlight-yellow: lighten($yellow, 42%);