$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

$green: #36af47;

$blue: #337ab7;
$light-blue: lighten($blue, 20%);
$vlight-blue: lighten($blue, 32%);
$vvlight-blue: lighten($blue, 42%);

$black: #000000;
$light-black: lighten($black, 20%);

$grey: #868e96;
$light-grey: lighten($grey, 20%);
$vlight-grey: lighten($grey, 32%);
$vvlight-grey: lighten($grey, 44%);

$yellow: #ff6600;
$light-yellow: lighten($yellow, 20%);
$vlight-yellow: lighten($yellow, 32%);
$vvlight-yellow: lighten($yellow, 42%);

// headbar, sidebar
$header-background: $light-black;
$header-textcolor: $vlight-grey;
$sidebar-bordercolor: $light-grey;
$sidebar-hovercolor: $light-yellow;
$sidebar-selectedcolor: $vlight-yellow;
$sidebar-lastscolor: $vvlight-yellow;

// table
$table-head-bgcolor: $light-black;
$table-head-textcolor: $vlight-grey;
$table-border-color: $light-grey;
$table-arrow-color: $grey;
$table-hover-color: $light-yellow;
$table-selected-color: $vlight-yellow;