$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #36af47;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$primary: #007bff;
$secondary: #868e96;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$vvlight-grey: #f8f0f0;
$vlight-grey: #eeebeb;
$light-grey: #c8c9cb;
$grey: #868e96;

$light-blue: #86b2e2;

$light-black: #24292e;
$light-purple:#563d7c;
$vligt-yellow: rgba(250, 100, 0, 0.267);
$ligt-yellow: rgba(250, 100, 0, 0.507);

$header-background: $light-black;
$header-textcolor: $light-grey;
$sidebar-bordercolor: $light-grey;