$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$primary: #007bff;
$secondary: #868e96;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$vlight-grey: #eeebeb;
$light-grey: #c8c9cb;
$grey: #868e96;

$light-black: #24292e;
$light-purple:#563d7c;
$vligt-yellow: #fdf7e4;
$ligt-yellow: #FA6800;

$header-background: $light-black;
$header-textcolor: $light-grey;
$sidebar-bordercolor: $light-grey;

$table-head-bgcolor: $vlight-grey;
$table-head-textcolor: $light-black;
$table-border-color: $light-grey;
$table-even-color: $vligt-yellow;
$table-hover-color: $ligt-yellow;