@import "../styles/layout.scss";
@import "../styles/colors.scss";
@import "../styles/font-awesome/font-awesome.scss";

span {
    font-size: 14px;
}

.page-span {
    padding-right: 15px;
}

input {
    width: 200px;
}

input,
select {
    border: 1px solid $table-border-color;
    padding: 3px;
    border-radius: 3px;
}

.pager-button {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: black;
    &:hover {
        color: $grey;
    }
}

.search-container {
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid $table-border-color;
}

.table-container {
    border: 1px solid $table-border-color;
}

.pager-container {
    margin-top: 10px;
    padding: 3px;
    border: 1px solid $table-border-color;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
    cursor: pointer;

    thead {
        background-color: $table-head-bgcolor;
        color: $table-head-textcolor;
    }
    
    tbody {
        display: block;
        overflow-y: scroll;
    }

    th, td {
        text-align: left;
        padding: 2px;
        white-space: nowrap;
        overflow: hidden;
    }

    th:last-child {
        border-right: 32px solid $table-head-bgcolor;
    }  
    
    tr {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-top: 1px solid $table-border-color;
    }
    
    tr:first-child {
        border-top: none;
    }

    tr:nth-child(even) {
        background-color: $table-even-color;
    }
    
    .datarow {
        &:hover {
            background-color: $table-hover-color;
        }
    }
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.asc {
    border-bottom: 5px solid grey;
}

.dsc {
    border-top: 5px solid grey;
}

.newbutton {
    font-size: 14px;
    border: 1px solid $light-grey;
    padding: 2px 30px;
    border-radius: 0px;
    cursor: pointer;
    background-color: $ligt-yellow; 
}

.newbutton:hover {
    background-color: $vligt-yellow;
}