@import "../styles/layout.scss";
@import "../styles/colors.scss";
@import "../styles/font-awesome/font-awesome.scss";

$table-header-height: 45px;

span {
    font-size: 14px;
}

.page-span {
    padding-right: 15px;
}

input,
select {
    border: 1px solid $table-border-color;
    padding: 3px;
    //border-radius: 3px;
}

input {
    width: 200px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 8px;
}

.pager-button {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    color: black;
    &:hover {
        color: $grey;
    }
}

.search-container {
    margin-bottom: 10px;
    padding: 8px;
    //border: 1px solid $table-border-color;
}

.table-container {
    border: 1px solid $table-border-color;
}

.pager-container {
    margin-top: 10px;
    padding: 8px;
    //border: 1px solid $table-border-color;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;

    tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    thead {
        background-color: $table-head-bgcolor;
        color: $table-head-textcolor;
        border-bottom: 1px solid $table-border-color;
        font-size: 18px;
        tr {
            height: $table-header-height;
            border-right-color: $table-head-bgcolor;
            border-right-style: solid;
            th {
                font-weight: 400;
            }
        }
    }
    
    tbody {
        display: block;
        overflow-y: auto;
        tr {
            cursor: pointer;
            border-bottom: 1px solid $table-border-color;
        }
        tr:last-child.scrollbar-exist {
            border: none;
        }
    }

    th, td {
        text-align: left;
        padding: 4px;
        white-space: nowrap;
        overflow: hidden;
    }
    
    tr:nth-child(even) {
        //background-color: $table-even-color;
    }
    
    .datarow {
        &:hover {
            background-color: $table-hover-color;
            color: white;
        }
    }
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.asc {
    border-bottom: 5px solid grey;
}

.dsc {
    border-top: 5px solid grey;
}

.newbutton {
    font-size: 20px;
    font-weight: 400;
    padding: 3px 10px;
    cursor: pointer;
    color: $light-black;
}

.newbutton:hover {
    border: 1px solid $table-border-color;
}

.plus-span {
    font-size: 22px;
}